---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: 'Actualmente ...',
        title: 'Desarrollador Frontend ― CEO de temp.com',
        description: 
            'Creo de páginas web personalizadas y originales en cuestión de días. Galardonado como mejor Frontent Engineer y CEO de Temp, página premiada con las mejores plantillas en la creación web.',
        link: '#',
    },
    {
        date: 'Septiembre 2022',
        title: 'Principal Frontend Engineer ― Adevinta',
        description: 'Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de intergración continua y despliegue con A/B testing en más de 15 equipos.',
    },
]
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }

</ol>