<header class="flex justify-between item-center py-5 w-full xl:w-[1120px] mx-auto">
    <img 
    class="rounded-full size-12 mb-4" 
    src="https://i.pinimg.com/1200x/7f/53/ef/7f53eff70c450b5cd440a45b6feb9b96.jpg" 
    alt="midudev photo" />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>